.one-review-note {
    font-family: 'gloria';
    color: #003f7d;
    font-size: 22px;
    font-weight: bold;
    direction: rtl;
    text-align: center;
    width: 90%;
    background-color: #eaf2fa;
    border-radius: 25px;
    padding: 2%;
}

.fa-heart {
    color: red;
}