.courses-filter {
    justify-items: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    min-height: max-content;
}

.courses-filter-tabs {
    display: flex;
    flex-direction: row;
    direction: rtl;
    min-height: max-content;
    justify-content: bottom;
    align-items: flex-end;
}

.courses-filter-reviews {
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid #a8b5c1;
    padding-right: 3%;
    padding-left: 3%;
}

.horizontal-line-reviews {
    width: 100%;
    border-top: solid #AAAAAA;
}

.courses-filter-coursedata {
    height: fit-content;
    padding: 2%;
    background-color: #d8e2ec;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 1%;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.course_would_take-again {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course_would_take-again-percent {
    font-size: 2rem;
}

.course_difficulty {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course_difficulty-rating {
    font-size: 2rem;

}

.course_moodle-material {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course_moodle-records {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course-num-reviews {
    text-decoration: underline;
    font-size: 2rem;
    direction: rtl;
}

.emptyCourseTab {
    width: 100%;
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: flex-center;
    color: #003f7d;
    font-family: 'afek';
    font-weight: bold;
    font-size: 26px;
    border: solid #a8b5c1;
}

@media only screen and (max-width: 1200px) {

    .courses-filter {
        width: 98%;
        margin-left: 1%;
        margin-top: 3rem;
        min-height: max-content;
    }

    .courses-filter-tabs {
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 600px) {
    .courses-filter-coursedata {
        flex-direction: column;
        gap: 5%;
    }
}