.unselected-tab {
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    color: #003f7d;
    background-color: #bccfe2;
    font-family: 'Afek';
    font-size: 24px;
    font-weight: bold;
    padding: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    min-width: 10rem;
    width: auto;
    height: inherit;
    border-top-left-radius: 25px;
    margin-left: 0.1rem;
    border: solid #a8b5c1;
    border-bottom: none;
}

.selected-tab {
    position: relative;
    top: 0.2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    color: #003f7d;
    background-color: white;
    font-family: 'Afek';
    font-size: 28px;
    font-weight: bold;
    padding: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    min-width: 10rem;
    width: auto;
    border-top-left-radius: 25px;
    border-top: solid #a8b5c1;
    border-left: solid #a8b5c1;
    border-right: solid #a8b5c1;
    margin-left: 0.1rem;
}

@media only screen and (max-width: 1098px) {

    .unselected-tab {
        position: initial;
        padding: 0.6rem;
        height: inherit;
        border-top-left-radius: 0px;
        border-bottom: solid #a8b5c1;
        margin-bottom: 2%;
        margin-right: 2%;

    }

    .selected-tab {
        transform: scale(1.05);
        position: initial;
        top: 0rem;
        padding-bottom: 0.6rem;
        border-top-left-radius: 0px;
        border-bottom: solid #a8b5c1;
        margin-bottom: 2%;
        margin-right: 2%;
    }
}