.main-professor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    padding-bottom: 100px;
}

.course-tabs-maria {
    display: flex;
    flex-direction: row;
    direction: rtl;
}