.prof-search{
    margin-top: 10px;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    direction: rtl;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 0;
    background-image: url('../images/tel-aviv-uni-cropped.png');
}

.prof-search_box{
    border-radius: 15%;
    position: relative;
}

