.upper-bar{ 
    box-shadow: 2px 2px 2px 2px #DDDDDD;
    background-color: white;
    height: 65px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.upper-bar-content{ 
    height: 100%;
    width: 55%;
    display: flex;
    margin-right: 42%;
    flex-direction: row;
    direction: rtl;
    padding: 0%;
}

.logo{
    width: auto;
}

.logo-pic{
    max-width: 100%;
    height: auto;
}

.google-button {
    margin-top: 0.7%;
    width: auto;
  }

.user-greeting{
    width: auto;
    color: #003f7d;
    margin-top: 1%;
    direction: ltr;
    align-content: center;
    align-items: center;
    font-size: large;
    font-family: 'gloria';
    font-weight: bold;
    /*text-shadow: 2px 2px 8px #AAAAAA;*/
    margin-right: 50%;
}
