.review-item {
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  direction: rtl;
}

.review-item__ratingInfo {
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Afek", sans-serif;
  background-color: white;
  direction: rtl;
}

.review-item__header{
  font-weight: 900;
  align-items: right;
  align-self: right;
  display: flex;
  font-size: 32px;
  padding-right: 22px;
  align-items: baseline;
}

.review-item__course {
  font-size: 36px;
  color: #103459;
  margin-left: 10px;
}

.review-item__ratings{
  font-size: 20px;
  color: black;
  margin-right: 20px;;
}

.review-item__courseMeta{
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-direction: row;
  margin-bottom: 14px;
  border-radius: 20px;
  width: 680px;
  color: black;
  background-color: #d8e2ec;
  font-weight: regular;
  font-family: "Afek", sans-serif;
  font-size: 14px;
}

.review-item__metaItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  line-height: 1.54;
  margin-right: 16px;
  padding: 4px 4px;
  white-space: nowrap;
  margin-bottom: 8px;
  font-weight: regular;
  font-family: "Afek", sans-serif;
  font-size: 14px;
}

.review-item__metaItem-title{
  margin-left: 10px;
}

.review-item__comment {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 14px;
  font-size: 16px;
  margin-right: 16px;

}


@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-bold-aaa.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-bold-aaa.otf");
  font-weight: bold;
}
