.review-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-items: right;
  align-items: right;
  margin-bottom: 1rem;
  margin-top: 1rem;
  direction: rtl;
  border-radius: 20px;
}

.review-item__comment {
  font-family: 'afek';
  display: flex;
  font-weight: bold;
  flex-flow: wrap;
  margin-bottom: 14px;
  font-size: 1.3rem;
  margin-right: 16px;
}

.review-item__comment-title {
  text-decoration: underline;
  margin-left: 10px;
}

.review-item__ratingInfo {
  background-color: #ebeff4;
  text-align: right;
  width: 35%;
  padding-right: 3rem;
  padding-left: 2rem;
  border-radius: 10px;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Afek", sans-serif;
  direction: rtl;
}

.review-item__ratings{
  margin-left: 1rem;
  color: black;
}



@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-bold-aaa.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-bold-aaa.otf");
  font-weight: bold;
}
