.reviews-filter {
  color: rgb(0, 0, 0);
  padding: 0 1rem;
  direction: rtl;
}

.reviews-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  direction: rtl;
}

.reviews-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  direction: rtl;
  font-family: "Gloria", sans-serif;
}

.reviews-filter select {
  font-family: "Gloria", sans-serif;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  direction: rtl;
}

@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gloria";
  src: url("/src/fonts/gloria/gloria-bold-aaa.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-regular-aaa.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Afek";
  src: url("/src/fonts/afek/afek-bold-aaa.otf");
  font-weight: bold;
}
