.reviews-list {
    list-style: none;
    padding: 0;
    direction: rtl;
  }
  
  .reviews-list__fallback {
    color: rgb(2, 2, 2);
    text-align: right;
    direction: rtl;
    padding-right: 17px;
    font-family: "Gloria", sans-serif;
    font-weight: normal;
    font-size: large;

  }

  @font-face {
    font-family: 'Gloria';
    src: url('/src/fonts/gloria/gloria-regular-aaa.otf');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gloria';
    src: url('/src/fonts/gloria/gloria-bold-aaa.otf');
    font-weight: bold;
  }