.divided-div {
    border-radius: 10px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

.divided-div_1sthalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 90%;
}

.divided-div_2ndhalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.divided-div_vl {
    border-left: 6px solid #003f7d;
    margin-right: 58px;
    height: 110px;
    width: -10px;
}

@media only screen and (min-width: 1745px) and (max-width:1746px) {
    .divided-div_vl {
        margin-right: 5.5vw;
        height: 110px;
    }
}

@media only screen and (width: 1536px) {
    .divided-div_vl {
        margin-right: 6.5vw;
        height: 110px;
    }
}

@media only screen and (width: 1280px) {
    .divided-div_vl {
        margin-right: 7.5vw;
        height: 110px;
    }
}

@media only screen and (min-width: 1097px) and (max-width: 1098px) {
    .divided-div_vl {
        margin-right: 8.5vw;
        height: 110px;
    }
}

@media only screen and (width: 960px) {
    .divided-div_vl {
        margin-right: 10vw;
        height: 110px;
    }
}

@media only screen and (width: 768px) {

    .divided-div {
        width: 90%;
        margin-right: 5%;
    }

    .divided-div_1sthalf {
        width: 48%;
    }

    .divided-div_2ndhalf {
        width: 50%;
    }

    .divided-div_vl {
        margin-right: 4vw;
        height: 110px;
    }
}

@media only screen and (max-width: 640px) {

    .divided-div {
        padding-right: 0%;
        width: 100%;
        margin-right: 0%;
    }

    .divided-div_1sthalf {
        margin-right: -5vw;
        width: 40%;
    }

    .divided-div_2ndhalf {
        width: 40%;
    }

    .divided-div_vl {
        margin-right: 10vw;
        height: 70vh;
    }
}

@media only screen and (width: 480px) {

    .divided-div {
        padding-right: 0%;
        width: 100%;
        margin-right: 0%;
    }

    .divided-div_1sthalf {
        margin-right: -10vw;
        width: 40%;
    }

    .divided-div_2ndhalf {
        margin-right: -5vw;
        width: 40%;
    }

    .divided-div_vl {
        margin-right: 10.5vw;
        height: 100vh;
    }
}

@media only screen and (width: 384px) {

    .divided-div {
        padding-right: 0%;
        width: 100%;
        margin-right: 0%;
    }

    .divided-div_1sthalf {
        margin-right: -20vw;
        width: 30%;
    }

    .divided-div_2ndhalf {
        margin-right: -5vw;
        width: 40%;
    }

    .divided-div_vl {
        margin-right: 20vw;
        height: 100vh;
    }
}