.card{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #999999;
    direction: rtl;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: right;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;

}