.divided-card{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #999999;
    direction: rtl;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

.divided-card_1sthalf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 90%;
}

.divided-card_2ndhalf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.vl {
    border-left: 6px solid #d8e2ec;
    margin-right: 20px;
    height: 110px;
    width: -10px;
  }