.prof-bar {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Afek';
    font-weight: normal;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    direction: rtl;
    width: 100%;
    height: 110px;
    background-color: #EFF3F7;
}

.prof-bar_title{
    margin-right: 7%;
    font-size: 24px;
}

.prof-bar_prof-name {
    font-family: 'Gloria';
    font-size: 28px;
    color: #000000;
    margin-right: 10px;
    margin-left: 20px;
}

.react-select-container
{
    width:auto;
}
.react-select__menu{
    cursor: pointer;
    font-size: 28px;
}

.react-select__control{
    background-color: #EEF1FF ;
    width: 500px;
    font-size: 28px;
    font-family: 'Gloria';
    font-weight: bold;
}
.react-select__menu-list{
    cursor: pointer;
    width: 500px;
}

.react-select__menu-list{
    cursor: pointer;
    width: 500px;

}


.prof-bar_course-prompt {
    font-family: 'Afek';
    font-size: 24px;
    color: #000000;
    margin-right: 5px;
    margin-left: 15px;
}