.prof-bar {
    display: flex;
    flex-direction: row;
    font-family: 'Afek';
    font-weight: normal;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    direction: rtl;
    width: 100%;
    height: 55%;
    color: white;
    background-color: #003f7d;
}

.prof-bar_title{
    font-size: 1.5vw;
}

.prof-bar_prof-name {
    font-family: 'Gloria';
    font-size: 2vw;
    font-weight: bold;
    color: white;
    margin-right: 1%;
    margin-left: 2%;
}

.course-choice{
    margin-top: 1vw;
    color: #555555;
    height: 3vw;
    width: 450px;
    font-size: 1vw;
    font-family: 'gloria';
    font-weight: bold;
}

.prof-bar_course-prompt {
    font-family: 'Afek';
    font-size: 1.5vw;
    color: white;
    margin-right: 3%;
    margin-left: 1%;
}