.review-rating {
    font-family: 'Afek';
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    direction: rtl;
}

.review-rating_title {
    align-items: center;
    font-family: 'afek';
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 20px;
}

.review-rating_result {
    margin-top: 2%;
    font-family: 'Afek';
    font-weight: bold;
    font-size: 16px;
}

.review-rating_main{
    display: flex;
    flex-direction: column; 
    align-items: center;
}


