.professor {
  background-color: #f5f5f5;
  margin-top: 2rem;
  margin-left: 14%;
  width: 70%;
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Gloria', sans-serif;
}

.professor-details {
  width: 30%;
  justify-content: right;
  justify-items: right;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.professor-name-and-email-and-website {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: auto;
  min-height: 10rem;
  max-height: 20rem;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 2px #CCCCCC;
  margin-bottom: 2rem;
}

.professor-name {
  font-family: "gloria";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1rem;
}

.professor-email {
  font-family: "gloria";
  font-size: 20px;
}

.professor-rating {
  width: 33%;
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'afek';
  font-size: 24px;
}

.professor-website-button {
  background-color: #d8e2ec;
  border-radius: 25px;
  margin-top: 20px;
}

.rating-button {
  width: 20rem;
  color: white;
  background-color: #003f7d;
  border-radius: 25px;
  height: 50px;
}

.rating-button-debug{
  background-color: red;
  margin-top: 100px;
  margin-bottom: 50px;
}

.professor-avg-rating {
  align-items: center;
  font-family: 'afek';
  font-size: 96px;
  display: flex;
  flex-direction: row;
  direction: ltr;
  margin: 0%;
  height: 12rem;
}

.rating-numerator {
  font-size: 172px;
  font-weight: bold;
}

.professor-rating-chart {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.professor-additional-ratings{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  direction: ltr;
  margin-bottom: 1rem;
  justify-content: center;
}

.professor-treat-rating{
  align-items: top;
}

.treat-rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.treat-rating-numerator{
  font-weight: bold;
  font-size: 52px;
}

.treat-text{
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 1rem;

}
.vertical-line{
  width: 1px;
  height: 5rem;
  border-left: solid black;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

}

@font-face {
  font-family: 'Gloria';
  src: url('/src/fonts/gloria/gloria-regular-aaa.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gloria';
  src: url('/src/fonts/gloria/gloria-bold-aaa.otf');
  font-weight: bold;
}