.professor {
  padding: 1rem;
  background-color: #ffffff;
  margin: 2rem auto;
  width: 60rem;
  max-width: 95%;
  direction: rtl;
  font-family: 'Gloria', sans-serif;
  /* float: right; */
  display: flex;
  flex-direction: row;
}

.professor-picture{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: solid #24292e;
}

.professor-details{
  display: flex;
  flex-direction: column;
}
.professor-details-first{
  display: flex;
  flex-direction: row;
}
.professor-name-and-email{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 50px;
  align-items: center;
}

.professor-name{
font-family: "gloria";
font-weight: bold;
font-size: 24px;
}

.horizontal-line{
  border-top: solid black;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.professor-email{
  font-family: "gloria";
  font-size: 18px;
  margin-right: 50px;
  }

.professor-website-review-and-rating{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  text-align: center;
  font-family: 'afek';
  font-size: 24px;
  }
.professor-website-button{
  width: 180px;
  background-color: #d8e2ec;
  border-radius: 25px;
  margin-top: 20px;
  height: 50px;
}
.rating-button{
  width: 250px;
  color: white;
  background-color: #003f7d;
  border-radius: 25px;
  margin-top: 20px;
  height: 50px;
  padding: 5px;
}

.professor-avg-rating{
  margin-right: 650px;
  margin-top: -200px;
  align-items: center;
  font-family: 'afek';
  font-size: 96px;
  display: flex;
  flex-direction: row;
  direction: ltr;
  width: 300px;
}

.rating-numerator{
  font-size: 172px;
  font-weight: bold;
}

.professor-ratingChart{
    float: left;
    width: 50%;
    background-color: #a7a7a7;

}

.professor-element{
    padding: 0.7rem;
    /* background-color: #a7a7a7; */

}

/* CSS */
.ratingButton {
  appearance: none;
  background-color: #eb5e28;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

@font-face {
  font-family: 'Gloria';
  src: url('/src/fonts/gloria/gloria-regular-aaa.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gloria';
  src: url('/src/fonts/gloria/gloria-bold-aaa.otf');
  font-weight: bold;
}