.reviews-list {
    list-style: none;
    padding: 0;
    direction: rtl;
  }
  
  .reviews-list__fallback {
    color: white;
    text-align: center;
    direction: rtl;
  }

  @font-face {
    font-family: 'Gloria';
    src: url('/src/fonts/gloria/gloria-regular-aaa.otf');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gloria';
    src: url('/src/fonts/gloria/gloria-bold-aaa.otf');
    font-weight: bold;
  }