.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  align-items: center;
  border-radius: 6px;
  float: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 20%;
  padding-right: 20%;
}


.list-group {
  max-height: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-items: right;
  justify-content: right;
}

.form-control {
  height: 70px;
  font-family: 'afek';
  font-size: 24px;
}

.search-bar-input-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-magnifying-glass {
  margin-right: -50px;
  color: #003f7d;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  margin-left: auto;
  margin-right: 40%;
  width: 40%;
  border: 3px solid #103459;
  padding: 16px;
  text-align: right;
  border-radius: 25px;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  direction: rtl;
  margin-left: 20%;
  margin-top: 20%;
}

/*from demo*/

.search-bar-dropdown {
  width: 35em;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 0 auto;
}

#results {
  margin-right: -30px;
  width: 33em;
  position: absolute;
  overflow-y: scroll;
  /* border-bottom: 1px #eeeeee solid; */
}

#results>button {
  background-color: #e1e9f0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#search-bar {
  width: 30em;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 0 auto;
}

@media only screen and (width: 768) {


  .search-bar-dropdown {
    width: 60vw;
    align-items: center;
    justify-content: center;
    direction: rtl;
  }

  .form-control {
    height: 70px;
    font-family: 'afek';
    font-size: 18px;
  }

  #results {
    width: 40vw;
    position: absolute;
    overflow-y: scroll;
  }

}

@media only screen and (max-width: 640px) {


  .search-bar-dropdown {
    width: 80vw;
    margin-left: 10vw;
    align-items: center;
    justify-content: center;
    direction: rtl;
  }

  .form-control {
    height: 70px;
    font-family: 'afek';
    font-size: 18px;
  }

  #results {
    width: 85vw;
    position: absolute;
    overflow-y: scroll;
  }

}

@media only screen and (max-width: 384px) {


  .search-bar-dropdown {
    margin-right: 7vw;
    width: 70vw;
    align-items: center;
    justify-content: center;
    direction: rtl;
  }

  .form-control {
    height: 70px;
    font-family: 'afek';
    font-size: 18px;
  }

  #results {
    width: 80vw;
    position: absolute;
    overflow-y: scroll;
  }

}