.prof-bar {
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-family: 'Afek';
    font-weight: normal;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    direction: rtl;
    width: 100%;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: white;
    background-color: #003f7d;
}

.prof-bar_title {
    font-size: 24px;;
}

.prof-bar_prof-name {
    font-family: 'Gloria';
    font-size: 32px;
    font-weight: bold;
    color: white;
}


