.main-page__explanation {
  padding-right: 0%;
  margin-left: 20%;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  direction: rtl;
  font-family: 'afek';
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  text-align: center;
}