.free-input_instructions {
    box-shadow: 2px 2px 2px 2px;
}

.free-input_instructions__1st {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    align-items: center;
}

.free-input_instructions__titles {
    font-family: 'Gloria';
    width: 20%;
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
    color: #003f7d;

}

.free-input_instructions__texts {
    margin-right: 30px;
    text-align: center;
    font-family: 'afek';
    font-size: 22px;
    width: 200px;
}

.free-input_instructions__2nd {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 80px;
    align-items: center;
}

.free-input_box {
    font-size: 24px;
    font-family: 'Afek';
    margin-right: 10%;
    border-radius: 10px;
    border: 1px solid #003f7d;
    width: 80%;
    height: 150px;
    padding-right: 5px;
    padding-top: 5px;
    resize: none;
}