.free-input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


.free-input_instructions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.free-input_instructions__texts {
    margin-right: 30px;
    text-align: center;
    font-family: 'afek';
    font-size: 22px;
}


.free-input_prompt{
    text-align: center;
    align-items: center;
    font-family: 'afek';
    font-size: 24px;
    font-weight: bold;
}

.free-input_box {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Afek';
    border-radius: 10px;
    border: 1px solid #003f7d;
    width: 95%;
    max-width: 800px;
    height: 180px;
    padding-top: 5px;
    resize: none;
}