.review-question {
    display: flex;
    flex-direction: space-evenly;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    direction: rtl;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
    gap: 40px;
}

.review-question_title {
    width: 450px;
    text-align: center;
    align-content: center;
    font-family: 'afek';
    font-size: 24px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .review-question_title {
        width: 300px;
    }
    .review-question {
        flex-direction: column;
        gap: 10px;
    }
}