.top-bar {
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #DDDDDD;
  display: flex;
  flex-direction: row;
  direction: rtl;
  justify-items: center;
}

.top-bar__logo {
  width: 300px !important;
  margin-right: auto;
  margin-left: auto;
}

.top-bar__logo-pic {
  width: 100%;
}

.top-bar__google-button {
  flex-grow: 2 !important;
  width: 300px !important;
  left: 30px;
  top: 20px;
  position: absolute;
  font-size: 20px !important;
  font-weight: bold !important;
  padding-left: 1vw !important;
}

.top-bar__user-greeting {
  left: 30px;
  top: 30px;
  width: 300px !important;
  position: absolute;
  color: #003f7d;
  direction: ltr;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
  align-items: center;
  font-size: large;
  font-family: 'gloria';
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .top-bar {
    justify-items: right;
  }

  .top-bar__logo {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 700px) {
  .top-bar__google-button {
    margin-top: 1%;
    width: 60px !important;
    color: transparent !important;
  }
  
  .top-bar__user-greeting {
    left: 30px;
    top: 10px;
    width: 70px !important;
  }

  .user-name{
    color: transparent;
  }
}

@media only screen and (max-width: 450px) {
  .top-bar__logo {
    margin-top: 2.5%;
    width: 230px !important;
  }
}