.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  align-items: center;
  border-radius: 6px;
  float: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 20%;
  padding-right: 20%;
}

.search-button {
  /* position: absolute;
  left: 700px;
  top: 500px; */
  background-color: #eb5e28;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  height: 56px;
  /* padding-right: 20; */
  font-size: large;
  font-family: "Afek", sans-serif;
  width: 100px;
  margin-left: 15%;
  border: 3px solid #103459;
}

.list-group {
  max-height: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-items: right;
  justify-content: right;
}

.form-control {
  height: 70px;
  font-family: "afek";
  font-size: 24px;
}
.search-bar-input-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-magnifying-glass {
  margin-right: -50px;
  color: #003f7d;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  margin-left: auto;
  margin-right: 40%;
  width: 40%;
  border: 3px solid #103459;
  padding: 16px;
  text-align: right;
  border-radius: 25px;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  direction: rtl;
  margin-left: 20%;
  margin-top: 20%;
}
/*from demo*/

.search-bar-dropdown {
  width: 35em;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 0 auto;
}

#results {
  margin-right: -30px;
  width: 33em;
  position: absolute;
  overflow-y: scroll;
  /* border-bottom: 1px #eeeeee solid; */
}

#results > button {
  background-color: #e1e9f0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#search-bar {
  width: 30em;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 0 auto;
}
