.rating-caps{
  padding-left: 15px;;
}

.graduation-cap-button-on {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #003f7d;
}

.graduation-cap-button-off {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ccc;
}

@media only screen and (max-width: 800px) {
  .graduation-cap-button-on {
    transform: scale(0.6);
    width: 50px;
  }
  
  .graduation-cap-button-off {
    transform: scale(0.6);
    width: 50px;
  }
}

