.chart {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

.char-text {
    color: rgb(255, 255, 255)
}